.enemy {
    border: 6px solid black;
    border-radius: 200%;
    transition: .5s;
}

.overlay {
    z-index:3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    opacity: .35;
}

.enemy img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.enemy i {
    z-index: 2;
    color: white;
    font-size: 27px;
    cursor: pointer;
    background-color: black;
    padding: 1px;
}

.enemy i:hover {
    color: crimson;
}

.enemy-details {
    position: absolute;
    left: -40px;
    top: 30%;
    transform: translateY(-30%);
}

    .enemy-status {
        position: absolute;
        top: -150%;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        width: 305px;
        border: 3px solid lightslategrey;
        border-radius: 6px;
    }

    .enemy-status img {
        width: 75px;
        height: 75px;
        transition: .25s;
    }

    .enemy-status img:hover {
        transform: rotate(15deg);
    }

.enemy-rotate-btn {
    position: absolute;
    left: -40px;
    top: 70%;
    transform: translateY(-70%);
}

    .rotate {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 130%;
        background-color: black;
        border: 6px solid lightslategray;
        border-radius: 6px;
        color: white;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        padding: 10px;
    }
        .face-3 {
            transform: rotate(-90deg)
        }

        .face-6 {
            transform: rotate(0deg);
        }

        .face-9 {
            transform: rotate(90deg);
        }

        .face-12 {
            transform: rotate(180deg);
        }

        .rotate img {
            width: 110px;
            height: 110px;
            cursor: pointer;
        }

        .rotate img:hover{
            background-color: lightsteelblue;
            border-radius: 100%;
        }

        .up {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -10%) rotate(-90deg);
        }

        .right {
            position: absolute;
            top: 50%;
            left: 95%;
            transform: translate(-95%, -50%);
        }

        .down {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -90%) rotate(90deg);
        }

        .left {
            position: absolute;
            top: 48%;
            left: 5%;
            transform: translate(-5%, -48%) rotate(180deg);
        }