<img onLoad="window.scroll(657, 400)" class="map-area" src="assets/mapResources/map-edited.png">

<!-- <section onLoad="window.scroll(657, 400)" class="load-screen">

        <section class="load-cont">
            <img class="load-icon" src="resources/hourglass.svg">
        </section>
            
</section> -->

<section (click)="this.westrunn = !this.westrunn" class="westruun">
    <p>.</p>
</section>

<section *ngIf="westrunn" class="westruun-information">
    <i class="material-icons close-btn" (click)="this.westrunn = !this.westrunn">clear</i>
    <h3>Westruun</h3>
    <p>This city has seen it all: black dragon attacks, invading goliath hoardes, and a mild spike in the price of
        bread.</p>
</section>


 <section (click)="this.drynna = !this.drynna" class="drynna">
    <p>.</p>
</section>

<section *ngIf="drynna" class="drynna-information">
    <i class="material-icons close-btn" (click)="this.drynna = !this.drynna">clear</i>
    <h3>Drynna</h3>
    <p><em>Where some group of idiots made their first of many mistakes.</em></p>
    <p></p>
    <p>If the Mooren river weren't so shallow this city would be a bustling port town. Instead it's a halfway point for
        land and marine based commerce.</p>
    <p>This at least keeps the merchant guilds from dominating like in other large trade hubs.</p>
</section>


<section (click)="this.stillben = !this.stillben" class="stillben">
    <p>.</p>
</section>

<section *ngIf="stillben" class="stillben-information">
    <i class="material-icons close-btn" (click)="this.stillben = !this.stillben">clear</i>
    <h3>Stillben</h3>
    <p><em>The city of water logged shoes.</em></p>
    <p>This is the largest port on the Eastern coast of Tal'Dorei. The city is surrounded by fetid swamps to the west,
        and the salty sea to the east.</p>
    <p>Rumor has it the town's beloved Captain of the Guatd snapped and killed a petty theif.</p>
</section>

<!--Add emon with image of city districts-->

<section (click)="this.darktow = !this.darktow" class="darktow">
    <p>.</p>
</section>

<section *ngIf="darktow" class="darktow-information">
    <i class="material-icons close-btn" (click)="this.darktow = !this.darktow">clear</i>
    <h3>Darktow</h3>
    <p><em>There is some honor among thieves here.</em></p>
    <p>The city formerly belonged to the Clovis Concord. Now it's the pirate capital of the Lucidian Ocean.</p>
    <p>After decades of being over taxed some, lets say, <em>enterprising</em> merchant guilds banded together and ousted anyone without the laissez faire attitude.</p>
    <p>There are few laws here, only:</p>
    
    <p>1: Don't steal</p>
    <p>2: Pay your dock fees</p>
    <p>3: Make an offering to the Plank King upon arrival.</p>
    
</section>