<video *ngIf="videoDisplay" width="99.861%" height="99.861%" autoplay loop [src]="this.videoPath" class="video-background"></video>

<img *ngIf="imageDisplay" width="99.861%" height="99.861%" [src]="this.imagePath" class="image-background">

<section class="board-open-btn">
    <img (click)="this.settingsDisplay = !this.settingsDisplay" class="settings-btn"
        src="/assets/boardResources/cog.svg">
</section>

<section [ngClass]="{'settings-open' : settingsDisplay}" class="settings-menu">
    <section class="misc-settings">
        <p (click)="this.boardDisplay = !this.boardDisplay">Toggle Grid</p>
        <p (click)="this.videoDisplay = !this.videoDisplay">Toggle Video Map</p>
        <p (click)="this.imageDisplay = !this.imageDisplay">Toggle Static Map</p>
    </section>

    <section class="videos">
        <p class="video-heading">Video Controls</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/swamp1.mp4'">Swamp</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/marketSquare.m4v'">Market Square</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/beach.mp4'">Beach</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/caravel-day.m4v'">Caravel</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/cityStreets.m4v'">Slums</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/basement.mp4'">Basement</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/frigate-day.mp4'">Frigate</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/docks.m4v'">Dock</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/outpost.mp4'">Outpost</p>

        <p class="video-btn" (click)="this.videoPath = '/assets/boardResources/board-videos/twoHorses.m4v'">Road Bend</p>

    </section>

    <section class="images">
        <p class="image-heading">Static Controls</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/DesertRuins.jpg'">Desert Ruins</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/river-crossing.jpg'">River Crossing</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/dock-side.jpg'">Dockside</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/forest-road.jpg'">Forest Road</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/Haunted-Marsh'">Marsh</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/river-city.png'">Riverside Town</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/rock-road.jpg'">Rocky Road</p>

        <p class="image-btn" (click)="this.imagePath = '/assets/boardResources/board-pictures/ShiftingSwamp.jpg'">Swamp</p>

    </section>

</section>

<section *ngIf="boardDisplay" class="game-board">

    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>
    <section class="tile"></section>

</section>