/* You can add global styles to this file, and also import other style files */
body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

app-root {
    min-width: 100%;
    min-height: 100%;
    background-color: beige;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }